.root {
    main-color: #D3D3D3;     /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 400px 600px;
    -fx-background-repeat: round;
}

.text-field {
    -fx-background-color: #FFF5EE;
    -fx-font: 14px "Arial";
}

.button {
    -fx-background-color: #E0BFB8;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color:#FFB6C1;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: rgba(0,0,0,.3);
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: rgba(0,0,0,0.3);
}

.scroll-bar .thumb {
    -fx-background-color: #C4A484;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

